@import "tailwindcss";

@layer utilities {
  .fade-in {
    animation: fadeIn 0.3s ease-out;
  }

  .zoom-in {
    animation: zoomIn 0.3s ease-out;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes zoomIn {
    from {
      transform: scale(0.95);
    }
    to {
      transform: scale(1);
    }
  }
}
